:root {
    --clr-dark: #212121;
    --clr-box: #535353;
    --clr-text: white;
    --clr-green: #1db954;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    width: 400px;
    height: 600px;
    background-color: var(--clr-box);
    color: var(--clr-text);
    padding: 1em;
    border-radius: 20px;
    position: relative;
}

h2, p {
    text-align: left;
    padding-left: 20px;
    color: var(--clr-text);
    font-family: "Poppins", sans-serif;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
}

span {
    color: var(--clr-green);
}

.flexbox-pic {
    width: 400px;
    height: 380px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    align-self: center;
}

.icon {
    color: var(--clr-green);
    font-size: 50px;
    float: right;
    margin-left: 10px;
}
